<p id="notice"><%= notice %></p>

<h1>Villas</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Title</th>
      <th>Area</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @villas.each do |villa| %>
      <tr>
        <td><%= villa.address %></td>
        <td><%= villa.title %></td>
        <td><%= villa.area %></td>
        <td><%= villa.description %></td>
        <td><%= villa.price %></td>
        <td><%= villa.category %></td>
        <td><%= link_to 'Show', villa %></td>
        <td><%= link_to 'Edit', edit_villa_path(villa) %></td>
        <td><%= link_to 'Destroy', villa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Villa', new_villa_path %>
