

<div class="contents">

<section class="lend_trouble">
   <p>別荘を持っていても<br class="spb"><span class="line_yb font-b">使うシーズンは決まっている。。</span><br><span class="line_yb font-b">固定資産税</span>だけ毎年かかっている。。</p>
   <span class="katuyou">眠ってしまっている勿体ない別荘を<br class="spb"><span class="font-cy font-b"><span class="strong">有効活用</span>しませんか？</span></span>
</section>
   
   <section class="lend_feature">
      <h2 class="logotxt font-b"><%= image_tag('common/logo.png', :alt => "とかいなかのShavilla") %>の特徴</h2>
      <div class="feature_inner">
         <div class="feature_inner__contents in-l" data-delighter>
            <div class="half_l">
               <span class="font-cg font-b">Point.1</span>
               <h3 class="line_yb">個人間取引（CtoC）の別荘シェアリングサービス</h3>
               <p class="font-b">本サービスの大きな特徴でもあるのがCtoCであるという部分です。<br class="spn">
                  CtoCとは「Customer to Customer」の略称であり、消費者間の取引を指します。<br class="spn">
                  詳細な交渉部分に関しては、ユーザー様とオーナー様間での直接交渉となります。</p>
            </div>
               <figure><%= image_tag('lend/feature_01.png', :alt => "握手") %></figure>
         </div>
         <div class="feature_inner__contents in-r" data-delighter>
            <div class="half_l order2">
               <span class="font-cg font-b">Point.2</span>
               <h3 class="line_yb">簡単STEPで掲載依頼！サイトへの掲載も無料！</h3>
               <p class="font-b">面倒な手続きはありません。掲載希望フォームから必要項目を記ご記入下さい。<br class="spn">
                  こちらで確認させて頂き、問題がなければ最終確認を行い、サイト上に掲載されます。</p>
               </div>
               <figure class="order1"><%= image_tag('lend/feature_02.png', :alt => "PCにデータアップ") %></figure>
         </div>
      
      </div>
   </section>

<section class="len_flow">
   <h2 class="tit font-cb font-b"><span class="line_b-s sp_f"><span class="strong">掲載～直接交渉</span>まで<span class="strong">利用</span>の流れ</span>
      <figure><%= image_tag('lend/flow_tit.png', :alt => "女性が案内するイメージ図") %></figure>
   </h2>
      <div class="len_flow__contents">
       <div class="half">
           <div class="midashi"><span class="line_b-s sp_f"><span class="step">Step.1</span><span class="description">掲載希望フォームから問い合わせ</span></span>
               <p>このページの下部にある「掲載希望フォーム」に必要事項をご記入後、送信・お問い合わせください。</p>
          </div>
          <figure><%= image_tag('lend/flow_01.png', :alt => "掲載希望フォームから問い合わせイメージ図") %></figure>
        </div>
     </div>
      <div class="len_flow__contents">
       <div class="half">
           <div class="midashi"><span class="line_b-s sp_f"><span class="step">Step.2</span><span class="description">内容確認～最終確認メール</span></span>
               <p>掲載希望フォームから送信頂きました内容をこちらで確認させて頂きます。
                  問題がなければ、掲載に関する最終内容確認のメールをお送りいたします。
                  もし、頂いた情報に足りない部分がございましたら、その旨ご連絡致します。</p>
          </div>
          <figure><%= image_tag('lend/flow_02.png', :alt => "内容確認～最終確認メールイメージ図") %></figure>
        </div>
     </div>
      <div class="len_flow__contents">
       <div class="half">
           <div class="midashi"><span class="line_b-s sp_f"><span class="step">Step.3</span><span class="description">物件を掲載～ユーザー様からの問い合わせ</span></span>
               <p>最終確認メールをご確認いただき問題がなければ、その内容でサイト上に掲載となります。
                  その後ユーザー様が物件を閲覧し、契約したいと思われるユーザー様が物件掲載ページよりコンタクトボタンをクリックすると、オーナー様にお問合せメールが届きます。</p>
          </div>
          <figure><%= image_tag('lend/flow_03.png', :alt => "物件を掲載～ユーザー様からの問い合わせイメージ図") %></figure>
        </div>
     </div>
      <div class="len_flow__contents">
       <div class="half">
           <div class="midashi"><span class="line_b-s sp_f"><span class="step">Step.4</span><span class="description">ユーザー様とオーナー様で直接交渉</span></span>
               <p>ユーザー様からご連絡があればそれ以降は、ユーザー様と、オーナー様の個人間取引となりますので直接交渉となります。</p>
          </div>
          <figure><%= image_tag('lend/flow_04.png', :alt => "ユーザー様とオーナー様で直接交渉イメージ図") %></figure>
        </div>
     </div>
</section>

<section class="len_contact">
   <h3><span class="line_black-s"><span class="strong">掲載希望</span>の<span class="strong">お問い合わせ</span></span></h3>
    <form>

         <div class="form-group">
           <label class="label" for="name">お名前 <span class="required">必須</span></label>
           <div class="group_inner">
             <input type="text" id="name" name="name" autocomplete="name" class="form-control" placeholder="姓名" required/>
           </div>
         </div>
         
         <div class="form-group">
           <label class="label" for="huri">フリガナ <span class="required">必須</span></label>
           <div class="group_inner">
             <input type="text" id="huri" name="name-furi" autocomplete="name-furi" class="form-control" required/>
           </div>
         </div>
         
         <div class="form-group">
           <label class="label" for="tel">電話番号 <span class="required">必須</span></label>
           <div class="group_inner">
             <input type="tel" id="tel" name="tel" autocomplete="tel" class="form-control" required/>
           </div>
         </div>

         <div class="form-group">
           <label class="label" for="email">メールアドレス <span class="required">必須</span></label>
           <div class="group_inner">
             <input type="email" id="email" name="email" autocomplete="email" class="form-control" placeholder="メールアドレス" required/>
           </div>
         </div>
         
         <div class="form-group">
           <label class="label" for="address">物件の住所 <span class="required">必須</span></label>
           <div class="group_inner address">
             <input type="text" id="address" name="postal-code" autocomplete="postal-code" class="form-control" placeholder="郵便番号" required/>
               <input type="text" name="address-level1" autocomplete="address-level1" class="form-control" placeholder="都道府県" required/>
               <input type="text" name="address-level2" autocomplete="address-level2" class="form-control" placeholder="市区町村" required/>
               <input type="text" name="address-line2" autocomplete="address-line2" class="form-control" placeholder="アパート／マンション名等"/>
           </div>
         </div>
         
         <div class="form-group">
           <label class="label">投稿概要 <span class="required">必須</span></label>
           <div class="group_inner post">
              <label class="label" for="post1">物件についての説明・周辺状況・アピールポイントなど</label>
              <textarea id="post1" name="postal-code" class="form-control" required></textarea>
              
              <label class="label" for="post2">建物</label>
               <input type="text" id="post2" name="postal-code" class="form-control" placeholder="2LDK" required/>
                
              <label class="label" for="post3">構造</label>
               <input type="text" id="post3" name="postal-code" class="form-control" placeholder="木造" required/>
               
              <label class="label" for="post4">1日利用料金</label>
               <input type="text" id="post4" name="postal-code" class="form-control" placeholder="5,000～" required/>
           </div>
         </div>
         
         <div class="form-group">
           <label class="label">物件の写真 <span class="required">必須</span></label>
           <div class="group_inner">
             <input type="file" name="file" class="form-control" placeholder="ファイルを選択" required/>
             <span class="hosoku">〇Mバイトまで (目安５枚～)<br>オンラインストレージをご利用の場合は「期間設定」なしの上、URLとPASSをお送りください。</span>
           </div>
         </div>

         <div class="form-group">
           <div class="submit">
             <button type="submit">内容確認画面へ</button>
           </div>
         </div>

       </form>
   

</section>




   <div class="illust_image"></div>
   <footer>
      <div class="footer_inner">
         <div class="footer_logo"><span class="font-cw">とかいなか×別荘シェアリングサービス</span><br><%= image_tag('common/footer_logo.jpg', :alt => "とかいなかのShavilla") %></div>
         <ul class="footer_nav">
            <li><a href="#">検索</a></li>
            <li><a href="#">借りたい</a></li>
            <li><a href="#">貸したい</a></li>
            <li><a href="#">運営</a></li>
            <li><a href="#">利用規約</a></li>
            <li><a href="#">お問い合わせ</a></li>
         </ul>
         <ul class="footer__sns">
            <li><a href="#" class="sns_twitter">twitter</a></li>
            <li><a href="#" class="sns_facebook">facebook</a></li>
         </ul>
<a href="#" id="pageTop">トップへ戻る</a>
      </div>
      <small class="copyright">Copyright (C) marutto-web-studio. All rights reserved.</small>
   </footer>
</div>
   
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/delighters.js" type="text/javascript"></script>
<script type="text/javascript">
/*-------------globalmenu-----------*/
$(function(){
			$('#nav_toggle').click(function(){
						$("header").toggleClass('open');
				$("nav").fadeToggle(500);
			});
});
/*-------------pagetop-----------*/
$(function(){
  var pageTop = $("#pageTop");
  pageTop.click(function () {
    $('body, html').animate({ scrollTop: 0 }, 300);
    return false;
  });
  $(window).scroll(function () {
    if($(this).scrollTop() >= 200) {
      pageTop.fadeIn();
    } else {
      pageTop.fadeOut();
    }
  });
});
/*-------------underline-----------*/
$(window).scroll(function(){
  var windowHeight =$(window).height();
  var windowTop =$(window).scrollTop();
  $(".line_yb, .line_b, .line_b-s, .line_black-s").each(function(){
    var objectImage =$(this).offset().top;
    if(windowTop > objectImage - windowHeight*3/4){$(this).css("background-size","100% 100%")};
  });
});
</script>